services:
  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
    command: server /data -address ":3371" --console-address ":3372"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio-data:/data
    ports:
      - 3371:3371
      - 3372:3372
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3371/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  mc:
    image: minio/mc
    depends_on:
      - minio
      # minio:
      #   condition: service_healthy
    restart: on-failure
    entrypoint:
      - sh
      - -c
      - |
        sleep 2;
        mc alias set docker http://minio:3371 minioadmin minioadmin;
        mc mb docker/bbl --ignore-existing;
  
volumes:
  minio-data:
    driver: local